.topo{
  
    height: 50px;
    width: 50px;
    background-color: #8A2BE2;
    bottom: 80px;
    right: 25px;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    position: fixed;
    cursor: pointer;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem ;
    
}
table{
    color:white ;
    font-size: 20px;

}
td{
    padding: 10px;
    font-family: 'Patua One', cursive;
}
.espaço{
    width: 100px;
}
.direitos{
    width: 100%;
    background-color:#8A2BE2 ;
    text-align: center;
    color: white;
    font-family:'Teko', sans-serif;
    font-size: 30px;
    margin-top: 0rem;
}
.redesocial{
    font-family:'Teko', sans-serif;
    font-size: 30px;
    padding: 5px;
    width: 14rem;
    background-color:#8A2BE2 ;
    color: white ;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.redesocial:hover{
    color: white;
    background-color:black ;
    cursor: pointer;
    text-decoration: none ;
}

