.meta{
    padding: 30px;
    margin-left: 40px;
}
.nome1,.nome2{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 5rem;
    margin-left: 2rem;
}
.nome2{
    color: #8A2BE2;
}

body{
    margin: 0;
    background-color: black;
}
.horizontal-menu{
    background:  ;
    display: inline-block;
    width: 100%;
    top: 0;
    height: 120px;
}
.horizontal-menu > ul{
    font-size: 0px;
    float: right;
    height: 77px;
    margin-right: 40px;
}
.horizontal-menu > ul > li{
    text-align: center;
    border: 5px solid #8A2BE2;
    border-radius: 50px;
    display: inline-block;
    font-size: 20px;
    font-family:'Teko', sans-serif;
    padding: 7px;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    top: 40px;
    cursor: pointer;
}
.horizontal-menu > ul > li i{
    font-size: 0px;
    margin-left: 5px;
    vertical-align: text-top;
    line-height: 16px !important;
}
.horizontal-menu > ul > li a{
    color: #fff;
    text-decoration: none;
}
.horizontal-menu > ul > li:hover > a,
.horizontal-menu > ul > li .sub-menu li:hover a{
    color: #8A2BE2 !important;
}

.horizontal-menu.type1 > ul > li .sub-menu{
    border: 5px solid #8A2BE2;
    text-align: center;
    padding: 10px 25px !important;
    border-radius: 10px;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    min-width: 200px;
    display: none;
}
.horizontal-menu.type1  > ul > li:hover .sub-menu{
    display: block;
}
.horizontal-menu.type1 > ul > li .sub-menu li a{
    color: #ffffff;
    font-family:'Teko', sans-serif;
    text-transform: none;
    padding-bottom: 20px;
    display: block;
}
.horizontal-menu.type1 > ul > li .sub-menu li:last-child a{
    padding-bottom: 0px;
}

@media only screen and (min-width: 1025px) {
    .horizontal-menu>ul{
        display: block !important ;
    }
    .horizontal-menu i.icone-burguer{
        display: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .horizontal-menu>ul{
        height: auto;
        float: none;
        display: none;
    }
    .horizontal-menu{
        position: relative;
    }
    .horizontal-menu i.icone-burguer {
        position: absolute;
        top: 43px;
        right: 31px;
        font-size: 30px;
        content: "\e916";
        color: #fff;
        font-family: 'toolkit_font' !important;
        cursor: pointer;
    }
    .horizontal-menu>ul>li{
        display: block;
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 10px 0px;
    }
    .horizontal-menu.type1>ul>li .sub-menu{
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        min-width: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: transparent;
        box-shadow: none;
        padding: 0px;
    }
    .horizontal-menu.type1>ul>li .sub-menu li a{
        color: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 15px;
    }
    .horizontal-menu.type1>ul>li:hover .sub-menu{
        display: none;
    }
}

